In [1]:
import petl as pt
import pypyodbc as bd
import sqlite3

In [2]:
#extart data & transofm data
arabe = pt.fromcsv('Arabe.csv')

In [3]:
arabe = pt.rename(arabe,'Notes','Arabe')

In [4]:
arabe = pt.convert(arabe,'Arabe',float) #convert Arabe column

In [5]:
arabe.look()

+-------------------------+-------+
| Nom_Prenom              | Arabe |
+=========================+=======+
| 'Bonbeur Jean'          |  17.0 |
+-------------------------+-------+
| 'Heresse Megane'        |  10.0 |
+-------------------------+-------+
| 'Noix Stephane'         |  13.0 |
+-------------------------+-------+
| 'Gature Emilie'         |  15.0 |
+-------------------------+-------+
| 'De MonteCarlo Coralie' |  12.0 |
+-------------------------+-------+
...

In [6]:
math = pt.fromxlsx('Math.xlsx')

In [7]:
math = pt.rename(math,'Notes','Math')

In [8]:
math.look()

+-------------------------+------+
| Nom_Prenom              | Math |
+=========================+======+
| 'Bonbeur Jean'          |   12 |
+-------------------------+------+
| 'Heresse Megane'        |   14 |
+-------------------------+------+
| 'Noix Stephane'         |   16 |
+-------------------------+------+
| 'Gature Emilie'         |   18 |
+-------------------------+------+
| 'De MonteCarlo Coralie' |   17 |
+-------------------------+------+
...

In [9]:
anglais = pt.fromxml('Anglais.xml','tr','td')

In [10]:
anglais = pt.rename(anglais,'Notes','Anglais')

In [11]:
anglais = pt.convert(anglais,'Anglais',float)

In [12]:
anglais.look()

+-------------------------+---------+
| Nom_Prenom              | Anglais |
+=========================+=========+
| 'Bonbeur Jean'          |    10.0 |
+-------------------------+---------+
| 'Heresse Megane'        |    13.0 |
+-------------------------+---------+
| 'Noix Stephane'         |    13.0 |
+-------------------------+---------+
| 'Gature Emilie'         |    13.0 |
+-------------------------+---------+
| 'De MonteCarlo Coralie' |    15.0 |
+-------------------------+---------+
...

In [13]:
cn = sqlite3.connect('Informatique.db')

In [14]:
informatique = pt.fromdb(cn,'select * from eleve')

In [15]:
informatique = pt.rename(informatique,'Notes','Informatique')

In [16]:
informatique = pt.rename(informatique,'nom_prenom','Nom_Prenom')

In [17]:
informatique.look()

+-------------------------+--------------+
| Nom_Prenom              | Informatique |
+=========================+==============+
| 'Bonbeur Jean'          |         12.0 |
+-------------------------+--------------+
| 'Heresse Megane'        |         14.0 |
+-------------------------+--------------+
| 'Noix Stephane'         |         16.0 |
+-------------------------+--------------+
| 'Gature Emilie'         |         18.0 |
+-------------------------+--------------+
| 'De MonteCarlo Coralie' |         17.0 |
+-------------------------+--------------+
...

In [18]:
francais = pt.fromjson('fran√ßais.json')

In [19]:
francais = pt.rename(francais,'Notes','Francais')

In [20]:
francais.look()

+-------------------------+----------+
| Nom_Prenom              | Francais |
+=========================+==========+
| 'Bonbeur Jean'          |       12 |
+-------------------------+----------+
| 'Heresse Megane'        |       14 |
+-------------------------+----------+
| 'Noix Stephane'         |       16 |
+-------------------------+----------+
| 'Gature Emilie'         |       18 |
+-------------------------+----------+
| 'De MonteCarlo Coralie' |       17 |
+-------------------------+----------+
...

In [21]:
#join data

In [22]:
data = pt.join(arabe,francais,key='Nom_Prenom')

In [23]:
data = pt.join(data,math,key='Nom_Prenom')

In [24]:
data = pt.join(data,anglais,key='Nom_Prenom')

In [25]:
data = pt.join(data,informatique,key='Nom_Prenom')

In [26]:
def Load_Data():
    con = bd.connect(Trusted_Connection='yes',driver='{SQL Server}',server='DESKTOP-LORG5OV',database='Ecole')
    pt.todb(data,con,'Resultat')
    print("Succes")

In [27]:
Load_Data()

Succes

In [28]:
data.look()

+-------------------------+-------+----------+------+---------+--------------+
| Nom_Prenom              | Arabe | Francais | Math | Anglais | Informatique |
+=========================+=======+==========+======+=========+==============+
| 'Bonbeur Jean'          |  17.0 |       12 |   12 |    10.0 |         12.0 |
+-------------------------+-------+----------+------+---------+--------------+
| 'Braltar Giles'         |  16.0 |       12 |   12 |    16.0 |         12.0 |
+-------------------------+-------+----------+------+---------+--------------+
| 'De MonteCarlo Coralie' |  12.0 |       17 |   17 |    15.0 |         17.0 |
+-------------------------+-------+----------+------+---------+--------------+
| 'Doeuf John'            |  10.0 |       15 |   15 |    13.0 |         15.0 |
+-------------------------+-------+----------+------+---------+--------------+
| 'Douche Rael'           |  13.0 |       14 |   14 |    10.0 |         14.0 |
+-------------------------+-------+----------+------+---------+--------------+
...

In [29]:
data = pt.addfield(data,'Moyenne',lambda row:(row['Arabe']+row['Francais']+row['Math']+row['Anglais']+row['Informatique'])/5)

In [31]:
data.look()

+-------------------------+-------+----------+------+---------+--------------+---------+
| Nom_Prenom              | Arabe | Francais | Math | Anglais | Informatique | Moyenne |
+=========================+=======+==========+======+=========+==============+=========+
| 'Bonbeur Jean'          |  17.0 |       12 |   12 |    10.0 |         12.0 |    12.6 |
+-------------------------+-------+----------+------+---------+--------------+---------+
| 'Braltar Giles'         |  16.0 |       12 |   12 |    16.0 |         12.0 |    13.6 |
+-------------------------+-------+----------+------+---------+--------------+---------+
| 'De MonteCarlo Coralie' |  12.0 |       17 |   17 |    15.0 |         17.0 |    15.6 |
+-------------------------+-------+----------+------+---------+--------------+---------+
| 'Doeuf John'            |  10.0 |       15 |   15 |    13.0 |         15.0 |    13.6 |
+-------------------------+-------+----------+------+---------+--------------+---------+
| 'Douche Rael'           |  13.0 |       14 |   14 |    10.0 |         14.0 |    13.0 |
+-------------------------+-------+----------+------+---------+--------------+---------+
...

In [39]:
pt.toxlsx(data,'Moyenne_Etudiant.xlsx')